---
import Base from '../layouts/Base.astro'
---
<Base title="Impressão 3D Profissional">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold text-brand-700">AUMAF 3D</h1>
  </main>
</Base>
